# Order Service
ORDER_SERVICE_PORT=50051
ORDER_REST_PORT=8080
INVENTORY_SERVICE_ADDR=inventory-service:50052
NOTIFICATION_SERVICE_ADDR=notification-service:50053

# Inventory Service
INVENTORY_SERVICE_PORT=50052

# Notification Service
NOTIFICATION_SERVICE_PORT=50053
